<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>
  <styleBundle path="~/Content/materialize">
    <include path="~/Content/bootstrap-theme/materialize/css/bootstrap-material-design.min.css"/>
    <include path="~/Content/bootstrap-theme/materialize/css/ripples.min.css"/>
  </styleBundle>
</bundles>